<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ben's first demo</title>
    <style>
        table,th,td {border:1px solid black;}
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>
<body>

<h1>Welcome to Ben's first web app<h1>
<h2>created by BenBen<h2>
<ul>
    <li>topic 1</li>
    <li>topic 2</li>
</ul>
<table style="width:30%">
    <tr>
        <th>topic 1</th>
        <th>topic 2</th>
    </tr>
    <tr>
        <td>studying</td>
        <td>gaming</td>
    </tr>

    </table>

</body>
</html>